body{
    margin:0;
}
.popicker-box * {
    margin:0;
    padding:0;
}
.popicker-box{
    position: fixed;
    width:100%;
    z-index: 9999;
    height: 230px;
    overflow:hidden;
    font-size:1.5rem;
    font-size:15px;
    background: #F2F2F2;
    display:none;
    margin:0;
    padding:0;
}
.popicker-box.bottom{
    bottom:0px;
}
.popicker-bg{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background: #000;
    opacity: 0.7;
    display:none;
    margin:0;
    padding:0;
}
.popicker-content{
    position: relative;
    width:100%;
    height: 200px;
    overflow: hidden;
    z-index: 9;
}
.popicker-col{
    float:left;
    box-sizing: border-box;
    position: relative;
    transition: 0.1s
}
.popicker-col-1{
    width:100%;
}
.popicker-col-2{
    width:50%;
}
.popicker-col-3{
    width:33.3333%;
}
.popicker-item{
    width: 100%;
    line-height: 32px;
    text-align: center;
    height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #dbdcde;
    transition: .2s;
    text-indent: 0;
    user-select: none;
}
.popicker-item.popicker-selected {
    font-size: 2rem;
    font-size: 20px;
    color: #444A59;
}
.popicker-item.popicker-selected-second {
    font-size: 1.7rem;
    font-size: 17px;
    color: #9a9da5;
}
.popicker-item.popicker-selected-third {
    font-size: 1.6rem;
    font-size: 16px;
    color: #dbdcde;
}
.popicker-baseline {
    width: 100%;
    height: 30px;
    position: absolute;
    z-index: 1;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    top:114px;
}
.popicker-header{
    width:100%;
    height: 30px;
    color: #327ae5;
    text-align: center;
    float:left;
    background:white;
}
.popicker-cancel, .popicker-confirm{
    line-height: 30px;
    color: #444A59;
    width: 33%;
    display: inline-block;
}
.popicker-cancel{
    float:left;
}
.popicker-confirm{
    color: #009fe8;
    float: right;
}


.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name:  fadeInUp;
    animation-name: fadeInUp;
}